<%- include("partials/head.ejs") %>
    <main>
      <h1><%= title %></h1>
        <ul id="categories">
          <% subjects.forEach(function(category){ %>
          <li><a href="/dictionary/<%= category %>"><%= category %></a></li>
          <% }) %>
        </ul>
<%- include("partials/foot.ejs") %>